[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-experimental = "*"
pandas = "*"
ctransformers = "*"
faiss-cpu = "*"
streamlit = "*"
pandasai = "*"

[dev-packages]

[requires]
python_version = "3.11"
